{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="{% if is_dark_theme %}dark{% endif %}">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- <script src="https://kit.fontawesome.com/a169ca04db.js" crossorigin="anonymous"></script> -->
		{% tailwind_css %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	</head>

	<body class="bg-gray-100 dark:bg-slate-700 text-black dark:text-gray-100">
		{% include 'navbar.html' %}
		<div class="container mx-auto p-10">
			{% block content %}{% endblock content %}
		</div>
	</body>
</html>
